# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
.venv/
venv/
ENV/
env/

# Distribution / packaging
dist/
build/
*.egg-info/

# Jupyter Notebook
.ipynb_checkpoints

# Ray outputs
ray_results/
Replays/

# OS specific
.DS_Store

# IDE files
.idea/
.vscode/
*.swp
*.swo

# Log files
*.log
